/* src/components/PrivacyPolicy.css */

.privacy-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

.privacy-policy-container h1, h2 {
    text-align: left;
    color: #333;
    margin: 0;
  }
  
  .privacy-policy-container p {
    color: #555;
    margin-bottom: 15px;
  }
  
  p ul {
    padding-left: 20px;
    list-style: none;
  }